/* Container for the education section */
.education__container {
    display: grid;
    grid-template-columns: 50% 35% 1fr; /* Three-column layout with defined widths */
    gap: 15%; /* Gap between columns */
}

/* Diploma image */
.education__diploma-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(0);
    transition: var(--transition);
}

/* Diploma background */
.diploma__background {
    width: 100%;
    aspect-ratio: 1.35/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, rgb(214, 67, 9), rgb(0,51,160), rgb(214, 67, 9));
    display: grid;
    place-items: center;
}

/* Text content in Education section */
.education__content {
    margin-top: 2rem; /* Margin to separate from cards */
    text-align: justify; /* Justify the text for uniform appearnce */
    margin-left: 1rem; /* Adjust left margin for alignment */
    flex: 1; /* Allow content to grow and fill available space */
}

.education__content p {
    margin: 1rem; /* Margin around the paragraph */
    color: var(--color-light);
    margin-left: 2px; /* Adjust left margin for alignment to fit with the cards and contact button */
}



