.experience__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
}

.experience__container > div {
    background: var(--color-light-bg);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    margin: 1rem 1rem 1rem 1rem;
    border: 1px solid transparent;
    transition: var(--transition)
}

.experience__container > div:hover {
    background: transparent;
    border-color: var(--color-primary);
    cursor: default;
}

.experience__container > div h3 {
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-primary);
}

.experience__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience__details {
    display: flex;
    gap: 1rem;
}

.experience__details-icon {
    margin-top: 6px;
    color: var(--color-primary);
}

.experience__bullets {
    margin-top: 1rem;
    margin-left: 1rem;
    text-indent: -1.5rem;
    color: var(--color-primary);
}

/* Before edit */
.experience__paragraphs {
    margin-left: 1.5rem;
    position: relative;
}

.experience__paragraphs p {
    margin-top: 0.5rem;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.experience__bullets-indenting {
    text-indent: -2rem;
    margin-left: 2rem;
}



/* Tablet Media Queries (medium) */
@media screen and (max-width: 1024px) {
    .experience__container {
        grid-template-columns: 1fr;
    }

    .experience__container > div {
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }

    .experience__content {
        padding: 1rem;
    }
}

/* Phone Media Queries (small) */
@media screen and (max-width: 600px) {
    .experience__container {
        gap: 1rem;
    }

    .experience__container > div {
        width: 100%;
        padding: 2rem 1rem;
    }
}